header{
 background-color:#405580;
 width:100%;
 height:100px;
 top:0;
 left:0;
 z-index:100;
 opacity:0.90;
 margin:0;
 position:fixed;
    color:white;
}

#main{
  margin:220px;
  background:#E0E0E0;
  color:#686868;
  opacity:0.90;
 border-radius: 15px;
  margin-top:350px;
  display:inline-block;
  
}

h1{
  margin-left:25px;
}
body{
  background-color:#f0f0f0;}

.superman h2{
  background-color:;
  margin:30px ;
  padding-top:25px;
  margin-bottom:50px;
  border:;
} 

.superman img {
  border: 10px  solid #cc;
  margin-left:100px;
  border-radius:50px;
   clear:both;
   float:left;
  padding:0 100px ;
  
}
.superman p{
  margin-left:23px 20px 40px 20px;
  background-color:;
  padding-right:80px;
  padding-left:10px;
   float:right;
  padding:10px;
  background:;
  position:center;
  font-size:18px;
  
}

  .wonderwoman h2{
  background-color:;
  margin:30px ;
  padding-top:100px;
  margin-bottom:75px;
  border;
} 

.wonderwoman img {
  border: 10px  solid #cc;
  margin-left:100px;
  border-radius:50px;
   clear:both;
   float:left;
  padding:0 100px ;
  
}
.wonderwoman p {
  margin-left:23px 20px 40px 20px;
  background-color:;
  padding-right:80px;
  padding-left:10px;
   float:right;
  padding:10px;
  background:;
  position:center;
  font-size:18px;
}
  
  .batman h2{
  background-color:;
  margin:30px ;
  padding-top:25px;
  margin-bottom:3px;
  border:;
   padding-top:100px;  
} 

.batman img {
  border: 10px  solid #cc;
  margin-left:100px;
  border-radius:50px;
   clear:both;
   float:left;
  padding:0 100px ;
  
}
.batman p {
  margin-left:23px 20px 40px 20px;
  background-color:;
  padding-right:80px;
  padding-left:10px;
   float:right;
  padding:10px;
  background:;
  position:center;
  font-size:18px;
}
 

  
  

  

 
  
